# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
ruraltech10-firebase-adminsdk-fbsvc-66b85a4f95.json
/.arduino-build
/coleira/build/
/gateway/build/
/gateway-matriz/build/
/diag-esp32-sensors/build/
.DS_Store
/gateway-matriz/manual_settings.local.h
/app/android/key.properties
.build_*/
/.vscode/*
/temp/*
!/temp/.gitkeep
**/node_modules
/scripts/migration/.env
/scripts/migration/package-lock.json
*.env